# This is the URL of a server serving our static (non /api) files
# (.e.g `npm run dev`).  If you don't set this, `dosh test` will copy
# the `dist` directory into the nginx container
# NEEMS_STATIC_URL=http://host.docker.internal:5173

# If you're using `dosh test` to run the docker container, you can set
# this to tell nginx where it should send `/api` requests.
# NGINX_API_URL=${NGINX_API_URL:-http://host.docker.internal:8000}