# This is the URL of a server serving our static (non /api) files.  If you don't set this,
# `dosh test` will copy the `dist` directory into the nginx container 
# NEEMS_STATIC_URL=http://localhost:8000

# If you're using `dosh test` to run the docker container, you can set
# this to tell nginx where it should send `/api` requests.
# NGINX_API_TARGET=${NGINX_APIT_TARGET:-http://host.docker.internal:8000}