# This will tell vite what port to listen on. Our tests refer to this to know
# how to connect to vite
NEEMS_REACT_PORT=5173

# Vite will use this to know where to send /api calls.  Localhost:8000 is the
# default listen address of neems-core.  If you are doing dev on the front end
# and don't want to run your own backend, you can set it to
# staging.neems.newtown.energy.
NEEMS_CORE_SERVER=http://127.0.0.1:8000

